@import './../../app-variables';

.top-nav {
    height: $header-height;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    display: block;
    height: 100%;
    margin-left: 15px;
}

.example-spacer {
    flex: 1 1 auto;
}