// Colours
$sidebar-background-color: #ff000080;
$sidebar-background-color-hover: #e79292;

// Fonts
$text-color: #484848;

// Sizes
$header-height: 60px;
$footer-height: 44px;

// Buttons

// Shadows
$panel-shadow: 0px 0px 10px -5px #6c6c6c;
